.header {
    padding: 3% 0% 0% 0%;
    display: flex;
    justify-content: center;
    gap: 82px;
}

.header-nav {
    display: flex;
    justify-content: center;
    gap: 82px;
}

.header-link {
    color: var(--cor-terciaria);
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}