@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,400;0,500;0,600;1,500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,400;0,500;0,600;1,500&family=Open+Sans&family=Roboto&display=swap');

:root {
    --cor-primaria: #3f3939;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-botao-hover: #252121;
    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
    --font-paragrafo: 'Roboto', sans-serif;
    --font-paragrafo-apresentacao: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    width: 100%;

    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

}


/* Nenhum ajuste é necessário para este tamanho */


/* Estilos para telas menores (768px a 767px) */
@media (max-width: 767px) {
    .cabecalho {
        padding: 10% 20px;
        gap: 20px;
    }

    .apresentacao_conteudo {
        margin: 5% 10px;
    }

    .apresentacao_destaque {
        font-size: 1.5rem;
    }

    .apresentacao_botao_input {
        width: 80%;
    }

    /* Adicione mais regras de estilo para telas menores conforme necessário */
}

/* Estilos para telas muito pequenas (até 320px) */
@media (max-width: 320px) {
    .cabecalho {

        padding: 3% 0 0 0;
    }

    .cabecalho_menu {
        padding: 3% 0 0 0;
        display: flex;
        justify-content: center;
        gap: 21px;
    }

    .apresentacao_conteudo {
        margin: 5% 5px;
    }

    .apresentacao_destaque {
        font-size: 1.2rem;
    }

    .apresentacao_botao_input {
        width: 90%;


    }

    /* Adicione mais regras de estilo para telas muito pequenas conforme necessário */
}